# ============================================================
# FILE: requirements.txt
# ============================================================

opencv-python==4.5.4.60
numpy==1.19.5
PyYAML==5.4.1
flask==2.2.5
paho-mqtt==1.6.1
tensorflow==2.10.0
tflite-runtime==2.10.0
Pillow==8.4.0
python-dotenv==1.2.1
twilio==8.10.0
